<a href="https://colab.research.google.com/github/lala991204/pandas/blob/master/3_1_exploratory_analysis.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

# read_csv() 함수로 df 생성
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pandas/auto-mpg.csv', header=None)

# 열 이름 지정
df.columns = ['mpg', 'cylinder', 'displacement', 'horsepower', 'weight',
              'acceleration', 'model year', 'origin', 'name']

# 데이터프레임 df의 내용을 일부 확인
print(df.head())     # 처음 5개 행
print('\n')
print(df.tail())     # 마지막 5개 행

    mpg  cylinder  displacement  ... model year  origin                       name
0  18.0         8         307.0  ...         70       1  chevrolet chevelle malibu
1  15.0         8         350.0  ...         70       1          buick skylark 320
2  18.0         8         318.0  ...         70       1         plymouth satellite
3  16.0         8         304.0  ...         70       1              amc rebel sst
4  17.0         8         302.0  ...         70       1                ford torino

[5 rows x 9 columns]


      mpg  cylinder  displacement  ... model year  origin             name
393  27.0         4         140.0  ...         82       1  ford mustang gl
394  44.0         4          97.0  ...         82       2        vw pickup
395  32.0         4         135.0  ...         82       1    dodge rampage
396  28.0         4         120.0  ...         82       1      ford ranger
397  31.0         4         119.0  ...         82       1       chevy s-10

[5 rows x 9 columns]

In [3]:
# df의 모양과 크기 확인: (행의 개수, 열의 개수)를 tuple로 반환
print(df.shape)

(398, 9)

In [4]:
# 데이터프레임 df의 내용 확인
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 398 entries, 0 to 397
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   mpg           398 non-null    float64
 1   cylinder      398 non-null    int64
 2   displacement  398 non-null    float64
 3   horsepower    398 non-null    object
 4   weight        398 non-null    float64
 5   acceleration  398 non-null    float64
 6   model year    398 non-null    int64
 7   origin        398 non-null    int64
 8   name          398 non-null    object
dtypes: float64(4), int64(3), object(2)
memory usage: 28.1+ KB
None

In [5]:
# 데이터프레임 df의 자료형 확인
print(df.dtypes)
print('\n')

# 시리즈(mpg 열)의 자료형 확인
print(df.mpg.dtypes)

mpg             float64
cylinder          int64
displacement    float64
horsepower       object
weight          float64
acceleration    float64
model year        int64
origin            int64
name             object
dtype: object


float64

In [6]:
# 데이터프레임 df의 기술 통계 정보 확인
print(df.describe())
print('\n')
print(df.describe(include='all'))

              mpg    cylinder  ...  model year      origin
count  398.000000  398.000000  ...  398.000000  398.000000
mean    23.514573    5.454774  ...   76.010050    1.572864
std      7.815984    1.701004  ...    3.697627    0.802055
min      9.000000    3.000000  ...   70.000000    1.000000
25%     17.500000    4.000000  ...   73.000000    1.000000
50%     23.000000    4.000000  ...   76.000000    1.000000
75%     29.000000    8.000000  ...   79.000000    2.000000
max     46.600000    8.000000  ...   82.000000    3.000000

[8 rows x 7 columns]


               mpg    cylinder  ...      origin        name
count   398.000000  398.000000  ...  398.000000         398
unique         NaN         NaN  ...         NaN         305
top            NaN         NaN  ...         NaN  ford pinto
freq           NaN         NaN  ...         NaN           6
mean     23.514573    5.454774  ...    1.572864         NaN
std       7.815984    1.701004  ...    0.802055         NaN
min       9.000000    3.000000  ...    1.000000         NaN
25%      17.500000    4.000000  ...    1.000000         NaN
50%      23.000000    4.000000  ...    1.000000         NaN
75%      29.000000    8.000000  ...    2.000000         NaN
max      46.600000    8.000000  ...    3.000000         NaN

[11 rows x 9 columns]