<a href="https://colab.research.google.com/github/lala991204/pandas/blob/master/5_19_datetime_format.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
# 라이브러리 불러오기
import pandas as pd

# read_csv() 함수로 파일 읽어와서 df로 변환
df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/pandas/stock-data.csv')

# 문자열인 날짜 데이터를 판다스 Timestamp로 변환
df['new_Date'] = pd.to_datetime(df['Date'])                   # df에 새로운 열로 추가
print(df.head())
print('\n')

# df 속성을 이용하여 new_Date 열의 년월일 정보를 년, 월, 일로 구분
df['Year'] = df['new_Date'].dt.year
df['Month'] = df['new_Date'].dt.month
df['Day'] = df['new_Date'].dt.day
print(df.head())
print('\n')

# Timestamp를 Period로 변환하여 년월일 표기 변경하기
df['Date_yr'] = df['new_Date'].dt.to_period(freq='A')
df['Date_m'] = df['new_Date'].dt.to_period(freq='M')
print(df.head())

# 원하는 열을 새로운 행 인덱스로 지정
df.set_index('Date_m', inplace=True)
print(df.head())

         Date  Close  Start   High    Low  Volume   new_Date
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26


         Date  Close  Start   High    Low  Volume   new_Date  Year  Month  Day
0  2018-07-02  10100  10850  10900  10000  137977 2018-07-02  2018      7    2
1  2018-06-29  10700  10550  10900   9990  170253 2018-06-29  2018      6   29
2  2018-06-28  10400  10900  10950  10150  155769 2018-06-28  2018      6   28
3  2018-06-27  10900  10800  11050  10500  133548 2018-06-27  2018      6   27
4  2018-06-26  10800  10900  11000  10700   63039 2018-06-26  2018      6   26


         Date  Close  Start   High    Low  ...  Year Month  Day  Date_yr   Date_m
0  2018-07-02  10100  10850  10900  10000  ...  2018     7    2     2018  2018-07
1  2018-06-29  10700  10550  10900   9990  ...  2018     6   29     2018  2018-06
2  2018-06-28  10400  10900  10950  10150  ...  2018     6   28     2018  2018-06
3  2018-06-27  10900  10800  11050  10500  ...  2018     6   27     2018  2018-06
4  2018-06-26  10800  10900  11000  10700  ...  2018     6   26     2018  2018-06

[5 rows x 12 columns]
               Date  Close  Start   High  ...  Year  Month Day  Date_yr
Date_m                                    ...
2018-07  2018-07-02  10100  10850  10900  ...  2018      7   2     2018
2018-06  2018-06-29  10700  10550  10900  ...  2018      6  29     2018
2018-06  2018-06-28  10400  10900  10950  ...  2018      6  28     2018
2018-06  2018-06-27  10900  10800  11050  ...  2018      6  27     2018
2018-06  2018-06-26  10800  10900  11000  ...  2018      6  26     2018

[5 rows x 11 columns]