<a href="https://colab.research.google.com/github/lala991204/pandas/blob/master/6_9_filter_boolean.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
# 라이브러리 불러오기
import seaborn as sns

# titanic 데이터셋 로딩
titanic = sns.load_dataset('titanic')

# 나이가 10대(10~19세)인 승객만 따로 선택
mask1 = (titanic.age >= 10) & (titanic.age < 20)
df_teenage = titanic.loc[mask1, :]
print(df_teenage.head())
print('\n')

# 나이가 10세 미만(0~9세)이고 여성인 승객만 따로 선택
mask2 = (titanic.age < 10) & (titanic.sex == 'female')
df_female_under10 = titanic.loc[mask2, :]
print(df_female_under10.head())
print('\n')

# 나이가 10세 미만(0~9세) 또는 60세 이상인 승객의 age, sex, alone 열만 선택
mask3 = (titanic.age < 10) | (titanic.age >= 60)
df_under10_morethan60 = titanic.loc[mask3, ['age', 'sex', 'alone']]
print(df_under10_morethan60.head())

    survived  pclass     sex   age  ...  deck  embark_town  alive  alone
9          1       2  female  14.0  ...   NaN    Cherbourg    yes  False
14         0       3  female  14.0  ...   NaN  Southampton     no   True
22         1       3  female  15.0  ...   NaN   Queenstown    yes   True
27         0       1    male  19.0  ...     C  Southampton     no  False
38         0       3  female  18.0  ...   NaN  Southampton     no  False

[5 rows x 15 columns]


     survived  pclass     sex  age  ...  deck  embark_town  alive  alone
10          1       3  female  4.0  ...     G  Southampton    yes  False
24          0       3  female  8.0  ...   NaN  Southampton     no  False
43          1       2  female  3.0  ...   NaN    Cherbourg    yes  False
58          1       2  female  5.0  ...   NaN  Southampton    yes  False
119         0       3  female  2.0  ...   NaN  Southampton     no  False

[5 rows x 15 columns]


     age     sex  alone
7    2.0    male  False
10   4.0  female  False
16   2.0    male  False
24   8.0  female  False
33  66.0    male   True